h1{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.pageHead h1{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300 !important;
    font-style: normal;

  
  border-bottom: solid 0.5px black;
  padding-bottom: 10px;
}

.pageHead{
    margin-top: 5%;
}

.image{
  width: 630px;
  height: 504px;
  background-image: url(../assets/images/battery.jpg); 
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  border-radius: 25px;
}

.products{
  margin-top: 30px;
  margin-bottom: 50px;
}