.nav-bar-con{
    position: sticky;
    z-index: 1001;
}

.link-con{
    display: flex;
    flex-direction: row;

}

.navbar-link,.navbar-link-brand ,.navbar-link-cart{
    text-decoration: none;
    color: #222222;
}

.navbar-link-cart{
    float: right;
}

.cart-btn{
    background-color: #ffffff;
    color: #222222;
    border-radius: 15px;
    border: 2px solid #222222;
}

.cart-btn:hover ,.cart-btn::after{
    background-color: #ffffff;
    color: #222222;
    font-weight: bold;
    border: 2px solid #222222;
}

.navbar-link:hover{
    font-weight: bold;
    cursor: pointer;
}

.bg-body-tertiary{
    width: 100%;
    background-color: rgba(250, 250, 250, 0.4);
}

.navbar-link{
    margin: 1rem;
}

.navbar-link-brand{
    width: 0px;
}