h1{
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.pageHead h1{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300 !important;
    font-style: normal;

  
  border-bottom: solid 0.5px black;
  padding-bottom: 10px;
}

.pageHead{
    margin-top: 5%;
}

.by-applied{
    padding: 5px;
    text-decoration: none;
    display: inline;
}

.by-applied li{
    padding-right: 5%;
    
    text-decoration: none;
    display: inline-block;
}

.prPan-items{
    margin-bottom: 5vh;
}

.filterPanel{
    width: 250px; 
    border-right: 0.5px solid black;
}

.product-container{
    width: 50%; 
}

.prPan-items{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.prPan-filterSort{
    width: 85%;
    margin-bottom: 4vh;
}

.prod-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
}