.back-nav-con{
    display: -webkit-inline-box;
    margin-top: 5vh;
    color: #FF6E1F;
}

.back-btn{
    font-family: "Josefin Sans", sans-serif;
    padding-top: 3px;
    color: #222222 !important;
}

.back-btn:hover{
    color: #FF6E1F !important;
    cursor: pointer;
}

.line-border{
    border-left: 1px solid #222222;
    width: 5px;
}

.cart-items-title{
    color: #222222;
    height: 5vh;
}

.cart-details-title{
    border-bottom: 1px solid #222222;
    padding: 5px;
    padding-bottom: 3vh;
}

.cart-details-con ,.total-con{
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-details{
    font-weight: 400;
    color: #222222;
}

.details-pricing{
    color: #776E6E;
    font-weight: 300;
}

.subtotal{
    padding-bottom: 2vh;
    border-bottom: 1px solid #222222;
}

.cart-total ,.total-pricing{
    color: #222222;
    font-weight: 500;
}

.checkout-btn{
    margin-top: 5vh;
    width: 60%;
    margin-left: 20%;
    background-color: #222222;
}

.cont-shopping-btn{
    margin-top: 3vh;
    width: 60%;
    margin-left: 20%;
    color: #222222;
}

.cont-shopping-btn:hover{
    color: #FF6E1F;
    cursor: pointer;
}


.checkout-list{
    list-style: none;
}

.order-item{
    background-color: #FAFAFA;
    padding: 5%;
    margin: 1rem;
    border-radius: 25px;
    box-shadow: 7px 7px 5px 0px rgba(49, 54, 56, 0.07);
}

.order-con{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.shipped-status{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-img{
    height: 25vh;
    width: 25vh;
}