.cart-card-con{
    display: flex;
    flex-direction: row !important;
    margin: auto;
    border: none;
    background-color: #FAFAFA;
    border-radius: 25px;
    margin-top: 2vh;
}

.cart-card-img{
    width: 13rem;
    padding: 2rem;
}

.cart-card-body{
   display: flex;
   align-items: center;
}

.cart-card-title{
    font-family: "Josefin Sans", sans-serif !important;
    font-size: x-large;
    font: bold;
    width: 100%;
}


.change-unit{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.btn-delete{
    float: right;
    margin-left: 2rem;
}

.btn-quantity:hover ,.btn-delete:hover{
    color: #FF6E1F;
    cursor: pointer;
}

.unit-no{
    width: 30%;
    text-align: center;
}

.individual-price{
    margin-top: 0vh;
    text-align: right;
    color: #776E6E;
}

.total-price{
    margin-top: 4vh;
    text-align: right;
    color: #222222;
}