
.edit-listings{
    border-radius: 5px;
    border: solid 1px #FF6E1F;
    width: 189px;
    height: 50px;
    background-color: #ff6d1f00;
    color: black;
    font-family: "Josefin Sans", sans-serif;
    padding-top: 5px;
  }
  
  .edit-listings:hover{
    border-radius: 5px;
    border: solid 1px #FF6E1F;
    width: 189px;
    height: 50px;
    background-color: #ff6d1f;
    color: rgb(255, 255, 255);
  
    font-family: "Josefin Sans", sans-serif;
    padding-top: 5px;
  }
  
  .edit{
    display: flex; 
    margin-top: 15px;
  }

