.accordion-button.collapsed{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400 !important;
    font-style: normal;
}

.accordion-button:not(.collapsed){
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700 !important;
    font-style: normal;

    background-color: rgba(255, 255, 255, 0);
    color: #FF6E1F;
}

.accordion-button:focus{
    outline: 0;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

input[type="range"]::-webkit-slider-thumb{
    background-color: #1e1e1e;
}

input[type="range"]::-moz-range-thumb {
    background-color: #1e1e1e;
}

input[type="range"]::-webkit-slider-thumb:focus{
    outline: none !important; 
    background-color: #FF6E1F;
}

input[type="range"]::-moz-range-thumb:focus {
    outline: none !important;
    background-color: #FF6E1F;
}

.active {
    color: #FF6E1F !important;
    background-color: white !important;
    outline: 0 !important;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px !important;
    border-bottom: 1px solid rgb(209, 207, 207) !important;
    border-top: 1px solid rgb(209, 207, 207) !important;
}
