
.edit-listing-button{
    color: #1c1c1c;
    border: none;
    background-color: #1c1c1c00;
    text-decoration: underline;
    cursor: pointer;
    padding: 10px;
}

.edit-listing-button:hover{
    color: #ff6d1f;
    border: none;
    background-color: #1c1c1c00;
    text-decoration: underline;
    cursor: pointer;
    padding: 10px;
}

.delete-listing-button{
    color: #1c1c1c;
    border: none;
    background-color: #1c1c1c00;
    text-decoration: underline;
    cursor: pointer;
    padding: 10px;
}

.delete-listing-button:hover{
    color: #ff6d1f;
    border: none;
    background-color: #1c1c1c00;
    text-decoration: underline;
    cursor: pointer;
    padding: 10px;
}




.close-modal-btn{
    background-color: #1c1c1c;
    border: #1c1c1c 2px solid;
    color: white;
}

.close-modal-btn:hover{
    color: #1c1c1c;
    background-color: #ffffff;
    border: #1c1c1c 2px solid;
}

.save-changes-btn{
    background-color: #ff6d1f;
    border: #ff6d1f 2px solid;
    color: white;
}

.save-changes-btn:hover{
    background-color: #ffffff;
    border: #ff6d1f 2px solid;
    color: black;
}