h1{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h4{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}


.filt-prod-cont{
    border-top: solid 0.5px black;
    padding-top: 10px;
}
.pageHead h1{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300 !important;
    font-style: normal;    
    border-bottom: none !important;
}

.pageHead{
    margin-top: 5%;
    border-bottom: none !important;
}

.pageHead-page-toggle{
    margin-top: 5%;
    border-bottom: none !important;
}

.by-applied{
    padding: 5px;
    text-decoration: none;
    display: inline;

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400 !important;
    font-style: normal;
}

.by-applied li{
    padding-right: 5%;
    
    text-decoration: none;
    display: inline-block;
}

.prPan-items{
    margin-bottom: 5vh;
}

.filterPanel{
    width: 250px; 
    border-right: 0.5px solid black;
}

/* .product-container{
    width: 50%; 
} */

.prPan-items{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.prPan-filterSort{
    width: 95%;
    margin-bottom: 4vh;
}

.prod-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
}

.category-header{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600 !important;
    font-style: normal;
    padding-bottom: 25px;
}

.show-all-prod{
    border: none;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400 !important;
    font-style: normal;
}

.show-wishlist{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400 !important;
    font-style: normal;
}

.btn-selected{
    color: white;
    background-color: #FF6E1F !important;
    border: 1px solid #FF6E1F;
}

.btn-unselected{
    background-color: white;
    color: #222222;
    border: 1px solid #222222;
}

.show-all-prod:hover ,.show-wishlist:hover{
    background-color: #222222;
    border: 1px solid #FF6E1F;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
