.content{
    font-family: "Josefin Sans", sans-serif;
    margin-top: 5vh;
}

.star-rating-con{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.star-5{
    width: 32px;
    height: 32px;
    color: #222222;
}

.star-5-active{
    width: 32px;
    height: 32px;
    color: #FF6E1F;
}



.add-to-cart{
    float: right;
    margin-top: 2vh;
    margin-right: 3rem;
    display: -webkit-inline-box;
    margin-left: 35%;
    width: 100%;
}

.add-to-cart:hover{
    cursor: pointer;
    color: #FF6E1F;
}

.price-tag{
    margin-top: 2vh;
    color: #776E6E;
}

.add-to-cart-arrow{
    margin-left: 15px;
    color: #FF6E1F;
}


.bottom-text-con{
    margin-top: 8vh;
    display: -webkit-inline-box;
    width: 100%;
}

.schematic-title{
    margin-top: 15vh;
    width: 100%;
}

.download-pdf{
    display: -webkit-inline-box;
    float: right;
    margin-top: 3px;
    margin-left: 50%;
}

.pdf-arrow{
    margin-top: -3px;
    color: #FF6E1F;
}

.download-txt{
    margin-right: 10px;
}

.schematic-con{
    height: 80vh;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 5vh;
}